.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  min-height: 948px;
  font-size: 16px;
}
  




 /* MAIN HEADER */
.MainHeader{
  background: rgb(249,186,106);
  padding:2em 4em 0 4em;
  text-align: left; 
}

.MainHeader h1{
color:rgb(41,50,85);
margin:1em 0 0.2em 0;
font-size: 4em;
font-weight: 900;
}

.MainHeader h4{
color:white;
margin:0.5em 0 0.5em 0;
font-size: 1.5em;
font-weight: 400;
}

.MainHeaderButtonWrapper{
  width:100%;
  display: flex;
  flex-direction:row-reverse;
}
.MainHeaderButton{
  border: 2px solid rgb(41,50,85);
  border-radius: 2rem;
  background: rgb(249,186,106);
  padding: 0.55em 2.5em 0.55em 2.5em;
  font-size: 1em;
  margin: 1em;
}
.MainHeaderSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.HeaderLogo{
  width: 100%;
  min-height:20em;
 }

button.MainHeaderButton{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color:rgb(41,50,85);
  }




  /* SMALL HEADER */
.SmallHeader{
padding:0.5em 4em 2em 4em;
color: rgb(96,96,96);
}

.SmallHeader h1{
  font-weight: 500;
  font-size: 3em;
}

.SmallHeader h4{
  font-weight: 400;
  font-size: 1.2em;
  }





 /* ARTICLES*/
.ArticleWrapper{
padding:0 4em 0 4em;
}

.ArticleTeaser {
  margin: 0.5em 0.5em 0.5em 0.5em; 
  /* pozniej zmienic height */
  color: white;

}
.ArticleTeaserElements{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.TeaserHeading{
  margin-left: 2em;
  margin-right: auto;
  float: left;
}
.TeaserHeading h1 {
  padding-right: 2em;
}
/************ IMAGES ************/
.TeaserImage {
  height:12em;
  width:auto;
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
}
.ViewsImage{
  width:1.5em;
  height: auto;
  margin-right:6px;
  margin-left:2em;
  opacity: 0.5;
}
.Views{
  display: flex;
  flex-direction: row;
  color: black;
  margin-bottom:1em;
  }

.ArticleWrapperSection{
min-height: 370px;
display: flex;
flex-direction: row;
justify-content: space-between;
}


/* NAVIGATION BAR*/
.NavigationBar {
padding:0.5em 4em 2em 4em;
display: flex;
flex-direction: row;
}

@media (max-width: 400px) {
  .NavigationBar{
    flex-direction: column;
  }
}

.NavigationButton{
  border: 2px solid rgb(192,192,192);
  background: white;
  padding: 0.7em 1em 0.7em 1em ;
  margin: 14px 7px 14px 7px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  
}
button.NavigationButton{
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: rgb(192,192,192);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}
button.NavigationButton:hover {
    background-color: rgb(41,50,85);
    color: white;
    border: 2px solid rgb(41,50,85);
}





/*MORE BUTTON*/
.MoreWrapper{
  margin-top: 1em;
  margin-bottom: 2.5em;
  color:rgb(41,50,85);
    }

.MoreButton{
  border: 2px solid rgb(192,192,192);
  background: white;
  border-radius: 2rem;
  padding: 0.55em 2.5em 0.55em 2.5em;
  font-size: 1.2em;
  margin: 1em;
  }
button.MoreButton{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: rgb(122,122,122);
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  }

  button.MoreButton:hover {
    background-color: rgb(41,50,85);
    color: white;
    border: 2px solid rgb(41,50,85);
}





/*GET STARTED SECTION*/
.GetStartedElements{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(234,234,234);
  padding: 0 6em 0 6em;
  border-bottom: 2px solid rgb(192,192,192);
  border-top:2px solid rgb(192,192,192);
  color: rgb(41,50,85);
  }

.GetStartedImage{
  width: 30%;
  height: auto;
  margin-top: 2em;
}

.GetStartedButton{
  border: 2px solid rgb(41,50,85);
  background:rgb(41,50,85);
  border-radius: 2rem;
  padding: 0.55em 2.5em 0.55em 2.5em;
  font-size: 1.2em;
  margin: 1em 1em 1em 0;
}

button.GetStartedButton{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.GetStartedButton:hover{
   background-color: white;
    color: rgb(122,122,122);
    border: 2px solid rgb(192,192,192);
}
.GetStartedHeading{
text-align: left;
}

.GetStartedHeading h1{
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.GetStartedHeading h2{
  font-size: 1.5em;
  font-weight: 500;
  color: rgb(133,133,133);
}





/* GET N TOUCH*/
.GetInTouchSection{
min-height: 250px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.GetInTouchWrapper{
  padding: 0 4em 0 4em;
  }

.GetInTouch {
  margin: 4em 0.25em 4em 0.25em;
  flex: 1 1 0em;
}

.GetInTouch + .GetInTouch {
  border-left: 2px solid rgb(192,192,192);
  padding-left: 2em;
}

.GetInTouchElements{
   color: rgb(41,50,85);
   display: flex;
   flex-direction: row;
  }


.GetInTouchImage{
  height: 10em;
  width: auto;
  margin-top: 2em;
 }

.GetInTouchButton{
  border: none;
  background:white;
  padding: 0;
  font-size: 1.2em;
  margin: 1em 1em 1em 0;
  color: rgb(41,50,85);
  }

button.GetInTouchButtonn{
  font-family: 'Quicksand', sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.GetInTouchButton:hover{
 color: rgb(122,122,122);
}

.GetInTouchHeading{
text-align: left;
padding: 0 0 0 1em;
}

.GetInTouchHeading h1{
  font-size: 2em;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.GetInTouchHeading h2{
  font-size: 1em;
  font-weight: 500;
  color: rgb(133,133,133);
}




/*FOOTER*/
.Footer {
  background: rgb(41,50,85);
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}